:root{
  --black: #000;
  --card-color: #BA182E;
  --card-color2: #FB9C4D;
  --gray: #A5A5A5;
  --white: #FDFFFC;
}

*{
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: auto;
  /* height: 100vh; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 52px;
  width: 100%;
}

header{
  display: flex;
  position: absolute;
  top: 0px;
  right: 16px;
}

.header-admin{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 12px;
}

h1{
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
}

span{
  font-size: 24px;
  margin: 18px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.container{
  align-items: center;
  background-color: var(--white);
  border-radius: 32px;
  box-shadow: 0 0 6px 0px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 32px;
  margin: 0;
  margin-right: 160px;
  text-align: center;
}

.item{
  list-style: none;
}

.carousel-container{
  margin-top: 52px;
  width: 1080px;
  overflow: hidden;
}

.carousel-link{
  text-decoration: none;
  text-shadow: 2px 2px 5px black;
  color: var(--white);
  transition: .3s ease-in-out;
}

.carousel-link:hover{
  color: var(--white);
}

.inputs{
  border: none;
  border-radius: 8px;
  width: 80%;
  height: 52px;
  margin: 16px !important;
}

.textarea-input{
  border: none;
  border-radius: 8px;
  width: 80%;
  height: 52px;
  margin: 16px !important;
  margin-bottom: 64px !important;
}

button{
  background-color: var(--card-color);
  border: none;
  border-radius: 8px;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: 80%;
  height: 52px;
  margin: 16px;
  padding: 0 12px;
  position: relative;
}

button:hover{
  background-color: var(--white);
  border: 1px solid var(--card-color);
  color: var(--card-color);
}

.button-link{
  margin: 0;
  padding: 0;
  width: 100%;
}

.img-list{
  position: sticky;
  width: 100%;
  height: 100vh;
}

.img{
  width: 100%;
  height: 100vh;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.small-btn{
  width: 20%;
}

ul{
  list-style: none;
}

.item-container{
  background-color: var(--white);
  border-radius: 32px;
  box-shadow: 0 0 6px 0px black;
  margin-top: 32px;
  width: 90%;
  padding: 32px;
}

.reunion-li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray);
  border-radius: 8px;
  margin: 32px;
  padding: 32px;
  width: 80%;
}

.reunion-li:hover{
  border: 2px solid var(--card-color2);
  transform: translateY(-2px);
}
